header {
    display: flex;
    /* Usando flexbox para alinhar os elementos lado a lado */
    justify-content: center;
    /* Centraliza o conteúdo horizontalmente */
    align-items: center
}

img {
    margin-right: 10px;
    /* Adiciona uma margem à direita para separar a imagem do texto */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media (max-width: 760px) {
    #margin-mobile-corrector {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .generated {
        padding-bottom: 5px;
    }

}